# LabVIEW Libraries
*.lvlibp
*.llb

# Shared objects (Windows/Linux/macOS)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# LabVIEW metadata
*.aliases
*.lvlps
.cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
